<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="layout/header"></th:block>
<body>
<div class="container-sm">
    <br>
    <h3>Edit Product</h3>
    <br>
    <div>
        <form th:object="${product}"
              th:method="put">
            <div class="form-group mb-3">
                <label for="name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="mb-3">
                <label for="category">Select Category</label>
                <select class="form-control" id="category" th:field="*{category}" required>
                    <option label="-- Select an option --" value=""></option>
                    <option th:each="category : ${categoryList}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${product.category != null and product.category.id == category.id}">
                    </option>
                </select>
                <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
            </div>
            <label>
                <input class="btn btn-outline-success" type="submit" value="Submit">
            </label>
        </form>
    </div>
</div>
<th:block th:insert="~{layout/js_urls}"></th:block>
</body>
</html>